a:focus {
    outline: none;
}

a{
	color:$color_links;
}



star-rating span:before, .quantity .plus, .quantity .minus, p.stars a:hover:after, p.stars a:after, .star-rating span:before, #payment .payment_methods li input[type=radio]:first-child:checked+label:before {
    color:$color_links;
}